body{
	background-image: url('../img/wall.jpeg');
	font-family: 'Fira Sans', sans-serif;
}

form div{
	display: block;
	border: 1px solid;
	padding: 20px;
}
.main{
	margin: 0px auto;
	width: 90%;
	padding: 0px;
	max-width: 1170px;
	max-height: 780px;
}